
html{
    font-family: Helvetica;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-size: 2.5rem;
    color: #ffffff;
}
b{
    font-size: 1.5rem;
    color: #4B4B4B;
} 
.active {
    background-color: #4CAF50;
}
.navbar {
    margin-top:20px;
    width: 95%;
    background-color: #848484;
    overflow: auto;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.navbar a {
    float: left;
    padding: 12px;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
  	background-color: #000;
}
table#t01{
    font-size:medium;
    background:#888B8B;
    max-width: 100%;
    border-collapse: collapse;
    width:95%;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
table#t02{
    margin-top:50px;
    width:30%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-left:auto;
    margin-right:auto;
}
table#t03{
    margin-top:50px;
    width:95%;
    margin-left:auto;
    margin-right:auto;
}
input#in01{
  width:30%;
    margin-left:auto;
    margin-right:auto;
}
span#sp01{
    font-size: 35px;
}
span#sp02{
    font-size: 18px;
}
p.high{
    margin-top:20px;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
 }
p.small{
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
   }
.call_info_div{
        margin-bottom: 25px;
    }
.logo_icon {
  margin-left:10%;
  display: block;
  float: left;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='logo' x='0px' y='0px' viewBox='0 0 245.888 169.697' enable-background='new 0 0 245.888 169.697' xml:space='preserve'%3E%3Cg%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23FFFFFF' d='M127.07,7.803c1.63,0.426,3.268,0.829,4.891,1.284 c17.333,4.853,28.847,16.035,35.433,32.583c2.653,6.667,4.229,13.581,4.237,20.75c0.015,15.196-5.055,28.444-15.665,39.451 c-9.068,9.407-20.188,14.808-33.049,16.609c-15.718,2.203-30.307-0.796-43.24-10.252C66.878,98.871,59.234,86.22,56.817,70.563 c-1.614-10.458,0.38-20.5,4.375-30.196c0.789-1.916,1.659-3.797,2.507-5.688c0.244-0.542,0.502-1.236,1.277-0.921 c0.78,0.317,0.455,1.023,0.272,1.56c-2.247,6.614-2.347,13.424-1.714,20.263c1.159,12.537,7.381,21.947,17.976,28.578 c7.575,4.742,15.873,7.185,24.757,7.658c10.779,0.574,21.157-1.09,30.95-5.807c5.829-2.808,10.534-6.765,13.012-12.942 c0.795-1.982,1.19-4.044,1.137-6.197c-0.12-4.831-4.117-8.386-8.969-8.059c-3.505,0.237-6.685,1.417-9.743,3.021 c-4.354,2.283-8.419,5.04-12.535,7.713c-2.267,1.473-4.732,2.252-7.457,2.191c-5.017-0.112-8.333-4.268-7.343-9.173 c1.457-7.216,6.148-11.181,12.988-12.994c4.986-1.321,9.897-0.615,14.798,0.566c2.839,0.685,5.703,1.276,8.64,0.604 c0.618-0.141,1.244-0.328,1.809-0.609c2.548-1.271,2.777-4.533,0.354-6.017c-5.866-3.591-12.138-6.08-19.114-6.192 c-4.668-0.075-9.061,1.211-13.205,3.346c-3.912,2.016-8.02,2.832-12.4,2.066C92.117,42.1,88.6,34.564,92.215,28.36 c2.721-4.669,6.866-6.979,12.167-7.653c6.213-0.791,11.546,0.964,16.389,4.811c3.813,3.03,8.003,5.415,12.93,6.156 c3.009,0.453,5.962,0.262,8.784-1.007c1.478-0.664,2.361-1.799,2.448-3.408c0.078-1.461-0.776-2.444-1.967-3.197 c-1.086-0.687-2.245-1.196-3.449-1.629c-4.008-1.44-8.015-0.904-12.048-0.104c-4.621,0.917-8.819-1.022-10.614-4.803 c-1.441-3.036-0.856-5.417,1.781-7.505c1.439-1.139,3.107-1.731,4.834-2.217C124.67,7.803,125.87,7.803,127.07,7.803z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23FFFFFF' d='M30.86,162.603c-1.039,0-2.083-0.062-3.116,0.018 c-1.085,0.084-1.818-0.343-2.419-1.203c-1.376-1.968-2.948-3.776-4.603-5.514c-0.274-0.288-0.556-0.581-0.878-0.811 c-0.735-0.521-1.247-0.319-1.507,0.557c-0.425,1.428-0.019,2.747,1.172,3.688c0.613,0.484,0.954,1.059,0.816,1.859 c-0.134,0.782-0.721,1.189-1.376,1.346c-3.347,0.803-6.737,0.812-10.091,0.131c-1.588-0.321-1.997-2.059-0.744-2.998 c1.011-0.758,1.4-1.715,1.509-2.847c0.405-4.184,0.422-8.367-0.097-12.547c-0.116-0.932-0.52-1.591-1.333-2.127 c-1.4-0.923-1.186-2.595,0.362-3.303c0.884-0.403,1.843-0.511,2.794-0.603c2.112-0.204,4.229-0.282,6.324,0.137 c0.866,0.174,1.695,0.47,1.963,1.508c0.25,0.971-0.258,1.524-0.88,2.167c-1.1,1.137-1.034,2.626-0.827,4.057 c0.093,0.642,0.69,0.678,1.107,0.299c1.157-1.054,2.13-2.272,2.855-3.663c0.235-0.452,0.031-0.918-0.157-1.378 c-0.524-1.278-0.176-2.319,1.096-2.682c3.048-0.868,6.15-0.83,9.229-0.128c0.949,0.216,1.35,0.951,1.227,1.915 c-0.129,1.008-0.834,1.535-1.745,1.454c-3.225-0.286-4.552,2.248-6.248,4.162c-0.706,0.797-0.208,1.735,0.434,2.484 c2.208,2.578,4.427,5.146,6.615,7.742c0.929,1.103,1.82,2.195,3.225,2.772c0.872,0.358,1.163,1.189,0.995,2.105 c-0.186,1.011-1.007,1.322-1.868,1.373c-1.274,0.076-2.557,0.02-3.836,0.02C30.86,162.598,30.86,162.601,30.86,162.603z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23FFFFFF' d='M78.47,162.843c-4.106-0.285-8.211-0.313-12.317,0.001 c-0.66,0.05-1.275-0.072-1.801-0.494c-0.799-0.642-0.976-1.876-0.181-2.371c1.365-0.852,1.71-2.086,1.832-3.535 c0.354-4.216,0.615-8.431,0.393-12.665c-0.054-1.031-0.477-1.735-1.423-2.145c-0.746-0.323-1.327-0.811-1.19-1.719 c0.14-0.924,0.865-1.293,1.668-1.503c0.302-0.079,0.64-0.079,0.953-0.044c4.347,0.491,8.693-0.047,13.039-0.008 c1.166,0.01,2.32,0.139,3.417,0.524c3.87,1.363,4.945,6.115,2.071,9.063c-1.249,1.28-1.249,1.28,0.359,2.125 c3.373,1.772,4.335,5.691,2.206,9.017c-1.659,2.59-4.174,3.577-7.107,3.748C79.75,162.875,79.109,162.843,78.47,162.843z M74.7,155.241c0.024,0,0.049,0,0.073,0c0,0.718-0.047,1.439,0.013,2.153c0.064,0.768,0.228,1.569,1.137,1.771 c0.908,0.202,1.757-0.009,2.397-0.736c1.152-1.308,0.897-4.655-0.446-5.764c-0.723-0.596-1.585-0.802-2.47-0.482 c-0.891,0.32-0.659,1.168-0.7,1.858C74.68,154.44,74.7,154.841,74.7,155.241z M74.713,145.199c-0.004,0-0.009,0-0.013,0 c0,0.638,0,1.275,0,1.913c0,0.08,0.003,0.159,0.009,0.239c0.085,1.175,0.63,1.561,1.741,1.225c0.646-0.194,1.145-0.588,1.374-1.228 c0.516-1.441,0.479-2.893-0.079-4.313c-0.192-0.489-0.57-0.856-1.058-1.092c-1.127-0.544-1.896-0.128-1.968,1.104 C74.679,143.762,74.713,144.481,74.713,145.199z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23FFFFFF' d='M111.556,138.123c2.835,0,5.67-0.023,8.505,0.008 c1.926,0.021,3.837,0.254,5.61,1.059c4.106,1.862,5.896,5.299,6.334,9.586c0.556,5.447-1.542,12.055-8.951,13.746 c-2.575,0.588-5.169,0.225-7.758,0.161c-2.395-0.06-4.79-0.193-7.182,0.121c-0.908,0.12-1.841,0.154-2.681-0.359 c-0.626-0.383-0.982-0.914-0.944-1.679c0.038-0.755,0.479-1.171,1.154-1.339c1.063-0.266,1.442-0.972,1.524-2.005 c0.355-4.504,0.43-9.016,0.425-13.53c-0.001-1.01-0.279-1.868-1.423-2.224c-0.691-0.215-1.128-0.779-1.12-1.542 c0.009-0.827,0.54-1.27,1.271-1.555c0.768-0.301,1.568-0.271,2.361-0.291c0.958-0.023,1.916-0.006,2.875-0.006 C111.556,138.224,111.556,138.173,111.556,138.123z M115.792,150.34c0.003,0,0.006,0,0.009,0c0,2.276-0.026,4.553,0.009,6.828 c0.024,1.529,0.619,2.053,2.157,2.047c1.942-0.009,3.542-1.008,4.198-2.967c1.301-3.883,1.141-7.783-0.41-11.57 c-0.714-1.745-2.191-2.581-4.058-2.682c-1.465-0.08-1.887,0.309-1.9,1.755C115.777,145.948,115.792,148.144,115.792,150.34z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23FFFFFF' d='M35.99,150.352c0.018-6.938,5.667-12.551,14.16-12.255 c6.573,0.229,12.304,6.182,12.216,12.937c-0.092,7.083-6.08,12.171-14.18,12.05C41.255,162.98,35.89,157.379,35.99,150.352z M53.444,153.949c0.017-0.847-0.128-1.675-0.301-2.495c-0.512-2.435-1.184-4.816-2.821-6.773c-0.882-1.054-1.965-1.794-3.444-1.36 c-1.213,0.356-2.045,1.625-2.146,3.165c-0.065,1.003,0.035,1.994,0.257,2.972c0.578,2.54,1.355,5.01,2.926,7.13 c0.81,1.095,1.923,1.697,3.341,1.335c1.215-0.31,2.021-1.484,2.143-3.016C53.424,154.588,53.43,154.268,53.444,153.949z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23FFFFFF' d='M163.16,148.515c0,2.598,0.003,5.196-0.002,7.794 c-0.002,1.108,0.139,2.062,1.223,2.781c1.005,0.667,0.888,1.889-0.202,2.432c-2.342,1.167-4.892,1.37-7.464,1.3 c-0.601-0.016-0.559-0.554-0.63-0.985c-0.132-0.804-0.573-1.082-1.226-0.51c-2.135,1.873-4.534,2.351-7.102,1.17 c-2.85-1.31-4.471-3.721-5.06-6.723c-0.954-4.858,2.041-9.412,6.788-10.536c1.565-0.37,3.081-0.148,4.569,0.438 c0.412,0.162,0.932,0.818,1.314,0.081c0.384-0.737,0.446-1.567-0.36-2.147c-0.282-0.204-0.649-0.291-0.978-0.43 c-1.137-0.479-1.316-1.357-0.45-2.226c0.14-0.141,0.29-0.295,0.466-0.372c2.5-1.085,5.09-1.846,7.825-1.962 c1.053-0.045,1.295,0.713,1.291,1.621C163.152,142.999,163.16,145.756,163.16,148.515z M155.602,153.392 c0.062-0.97-0.027-2.038-0.327-3.077c-0.216-0.743-0.699-1.264-1.498-1.354c-0.737-0.084-1.368,0.236-1.715,0.864 c-1.409,2.553-1.557,5.216-0.47,7.911c0.334,0.828,1.034,1.321,1.987,1.231c0.936-0.088,1.337-0.773,1.575-1.572 C155.532,156.126,155.64,154.822,155.602,153.392z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23FFFFFF' d='M187.47,145.076c5.002,0.006,8.728,2.973,9.549,7.651 c0.517,2.94-0.516,5.369-2.718,7.266c-3.54,3.049-7.641,3.877-12.077,2.515c-2.91-0.895-4.875-2.932-5.424-5.977 c-0.62-3.442,0.221-6.499,3.038-8.813C182.056,145.897,184.618,145.065,187.47,145.076z M189.149,156.736 c-0.063-0.663-0.083-1.223-0.176-1.77c-0.278-1.643-0.546-3.295-1.363-4.782c-0.347-0.633-0.854-1.078-1.629-0.981 c-0.812,0.103-1.261,0.638-1.416,1.409c-0.077,0.385-0.134,0.794-0.087,1.179c0.228,1.897,0.604,3.766,1.285,5.56 c0.481,1.267,1.252,1.851,2.166,1.597C189.132,158.612,189.088,157.583,189.149,156.736z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23FFFFFF' d='M218.05,163.096c-1.23,0.054-2.753-0.229-4.195-0.865 c-5.742-2.531-6.642-10.41-1.622-14.494c3.27-2.659,7.038-3.37,11.029-2.146c3.503,1.075,5.572,3.627,6.167,7.238 c0.552,3.353-0.924,5.873-3.55,7.832C223.659,162.316,221.162,163.104,218.05,163.096z M221.555,156.792 c-0.058-0.599-0.082-1.196-0.177-1.783c-0.268-1.646-0.545-3.294-1.345-4.789c-0.363-0.678-0.9-1.146-1.727-1.009 c-0.807,0.135-1.216,0.712-1.365,1.473c-0.067,0.347-0.111,0.716-0.068,1.063c0.237,1.937,0.621,3.841,1.318,5.673 c0.373,0.979,0.934,1.741,2.094,1.524C221.452,158.726,221.478,157.716,221.555,156.792z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23FFFFFF' d='M95.766,163.083c-1.285,0.054-2.801-0.001-4.258-0.497 c-0.687-0.234-1.339-0.566-1.473-1.407c-0.134-0.842,0.334-1.358,0.984-1.756c0.878-0.537,1.172-1.376,1.22-2.334 c0.2-3.984,0.417-7.968,0.05-11.958c-0.121-1.312-0.484-2.394-1.705-3.081c-0.605-0.341-1.078-0.83-0.966-1.641 c0.11-0.802,0.689-1.136,1.355-1.342c3.58-1.11,7.204-1.305,10.861-0.43c0.376,0.091,0.755,0.288,1.063,0.527 c0.95,0.734,0.921,2.014-0.147,2.529c-1.31,0.632-1.728,1.688-1.812,2.986c-0.248,3.867-0.113,7.735,0.015,11.602 c0.041,1.254,0.349,2.347,1.708,2.864c0.641,0.244,0.934,0.823,0.893,1.544c-0.045,0.791-0.545,1.224-1.193,1.503 c-1.566,0.675-3.25,0.751-4.918,0.884C96.966,163.115,96.484,163.083,95.766,163.083z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23FFFFFF' d='M133.56,81.004c-3.927,0.022-6.297-3.99-4.38-7.419 c2.75-4.921,6.479-8.768,11.887-10.736c0.702-0.255,1.566-0.856,2.2-0.05c0.662,0.842-0.212,1.47-0.644,2.083 c-0.849,1.206-1.768,2.362-2.65,3.543c-1.748,2.337-2.486,4.95-2.162,7.86C138.118,79.042,136.356,80.987,133.56,81.004z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23FFFFFF' d='M170.669,154.682c2.37,0.002,4.192,1.879,4.161,4.287 c-0.03,2.33-1.864,4.121-4.212,4.114c-2.355-0.007-4.128-1.788-4.142-4.164C166.462,156.491,168.253,154.681,170.669,154.682z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23FFFFFF' d='M203.077,163.083c-2.429,0.009-4.21-1.782-4.201-4.224 c0.01-2.371,1.781-4.162,4.134-4.178c2.391-0.016,4.221,1.817,4.221,4.228C207.23,161.241,205.405,163.075,203.077,163.083z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23FFFFFF' d='M235.68,163.083c-2.415-0.001-4.188-1.815-4.163-4.262 c0.023-2.36,1.811-4.135,4.171-4.14c2.374-0.005,4.202,1.859,4.183,4.266C239.851,161.279,238.021,163.084,235.68,163.083z'/%3E%3C/g%3E%3C/svg%3E");
}
.call_icon {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' fill='%23ffffff' width='30px' height='30px' viewBox='0 0 256.357 256.414' enable-background='new 0 0 256.357 256.414' xml:space='preserve'%3E%3Cg%3E%3Cg transform='translate(0.000000,1280.000000) scale(0.100000,-0.100000)'%3E%3Cpath d='M2561.025,11612.875c-15.039,180.625-59.141,336.992-138.33,491.162c-122.295,237.964-316.563,432.222-554.521,554.512 c-150.947,77.588-306.934,122.29-479.141,137.124c-32.871,3.008-133.506,5.42-158.364,3.813 c-43.306-2.607-78.384-5.615-106.255-9.023c-199.473-24.458-386.313-93.623-553.315-204.883 c-181.826-121.089-330.381-287.28-430.215-481.543c-79.189-154.17-123.291-310.537-138.325-491.162 c-3.413-38.691-3.413-151.763,0-190.444c15.034-180.635,59.136-337.012,138.325-491.172 c122.29-237.969,316.548-432.227,554.512-554.521c154.17-79.189,310.542-123.291,491.167-138.33 c38.691-3.398,151.758-3.398,190.459,0c180.625,15.039,336.992,59.141,491.152,138.33 c237.959,122.295,432.226,316.553,554.521,554.521c79.189,154.16,123.291,310.537,138.33,491.172 C2564.424,11461.112,2564.424,11574.184,2561.025,11612.875z'/%3E%3Cpath fill='%23888B8B' d='M1003.149,12397.313c-10.83-3.013-136.123-75.986-143.54-83.599 c-16.636-16.841-20.449-41.504-10.024-61.948c10.83-21.05,230.352-400.552,235.561-407.363 c11.626-14.639,37.285-23.257,55.332-18.242c9.219,2.402,132.71,73.174,143.335,81.987c13.638,11.431,21.06,35.889,16.245,53.525 c-1.211,4.414-54.937,99.644-119.482,211.504c-95.029,164.79-119.087,205.083-126.509,211.904 C1040.439,12397.909,1021.191,12402.523,1003.149,12397.313z'/%3E%3Cpath fill='%23888B8B' d='M779.018,12222.694c-42.9-26.06-64.346-41.699-87.207-63.555c-66.958-63.945-84.8-127.495-73.374-259.609 c16.44-188.848,110.063-441.25,250.396-674.6c131.704-218.916,289.888-400.156,436.04-499.58 c75.176-51.123,121.885-68.77,182.422-68.77c40.498,0,74.18,8.018,121.504,29.072c22.041,10.02,73.164,37.08,74.971,39.883 c0.605,1.221-227.949,399.365-240.176,418.613c-1.201,2.002-3.408,1.592-9.424-1.406c-13.828-7.021-36.68-13.838-54.521-16.045 c-65.557-8.027-143.145,29.678-215.112,104.648c-89.014,92.617-159.58,229.141-181.431,351.431 c-16.235,89.81-4.014,162.188,35.083,208.101c6.616,7.817,28.872,26.455,33.276,27.861c1.606,0.601-43.501,80.391-118.281,210.298 c-66.553,115.073-121.484,209.897-122.29,210.698C810.088,12240.741,795.859,12232.924,779.018,12222.694z'/%3E%3Cpath fill='%23888B8B' d='M1636.66,11313.144c-11.035-1.406-9.229-0.596-82.803-42.9c-32.871-18.848-62.949-37.295-66.758-40.898 c-14.434-13.828-20.449-37.09-14.434-54.736c3.398-10.02,231.543-406.162,239.961-416.582 c14.238-18.037,42.51-23.457,65.361-12.441c17.236,8.232,123.086,69.58,131.309,76.191c11.23,9.014,18.047,24.053,18.047,40.498 c0,7.412-0.996,16.24-2.402,19.248c-6.826,16.035-235.557,409.561-241.777,415.986 C1670.937,11310.341,1654.902,11315.751,1636.66,11313.144z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.info_icon {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' fill='%23ffffff' width='30px' height='30px' viewBox='0 0 256 256' enable-background='new 0 0 256 256' xml:space='preserve'%3E%3Cg%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M129.074,256.486C64.878,258.545,1.553,204.269,1.62,129.429 C1.682,59.451,58.512,1.893,127.849,1.618c71.271-0.283,128.464,56.736,128.684,127.826 C256.761,203.556,193.667,258.554,129.074,256.486z M156.953,191.604c-4.036,0.542-7.759,1.351-11.506,1.484 c-9.229,0.329-12.303-2.867-10.888-12.068c1.134-7.372,3.165-14.611,4.88-21.89c2.362-10.027,5.586-19.926,7.023-30.08 c2.115-14.942-7.001-24.577-22.012-25.026c-9.409-0.282-17.95,2.818-26.664,5.713c-5.362,1.78-6.263,5.404-6.479,9.97 c4.461-0.579,8.543-1.435,12.65-1.568c7.335-0.239,10.283,2.48,9.752,9.889c-0.424,5.916-1.998,11.771-3.297,17.599 c-2.891,12.963-6.854,25.766-8.645,38.871c-1.759,12.866,7.172,21.48,20.255,22.641c10.196,0.905,19.252-2.531,28.626-5.542 C156.269,199.791,157.055,196.358,156.953,191.604z M140.02,86.856c11.181,0.057,19.92-7.869,19.854-18.007 c-0.062-9.594-8.905-17.875-19.109-17.895c-11.076-0.021-19.688,7.938-19.714,18.223C121.024,79.084,129.307,86.803,140.02,86.856z'/%3E%3C/g%3E%3C/svg%3E");
}
.home_icon {
  display: block;
  float: left;
  width: 17px;
  height: 17px;
  margin-right:6px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' x='0px' y='0px' viewBox='0 0 27.02 27.02' style='enable-background:new 0 0 27.02 27.02;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M3.674,24.876c0,0-0.024,0.604,0.566,0.604c0.734,0,6.811-0.008,6.811-0.008l0.01-5.581 c0,0-0.096-0.92,0.797-0.92h2.826c1.056,0,0.991,0.92,0.991,0.92l-0.012,5.563c0,0,5.762,0,6.667,0 c0.749,0,0.715-0.752,0.715-0.752V14.413l-9.396-8.358l-9.975,8.358C3.674,14.413,3.674,24.876,3.674,24.876z'/%3E%3Cpath d='M0,13.635c0,0,0.847,1.561,2.694,0l11.038-9.338l10.349,9.28c2.138,1.542,2.939,0,2.939,0 L13.732,1.54L0,13.635z'/%3E%3Cpolygon points='23.83,4.275 21.168,4.275 21.179,7.503 23.83,9.752 '/%3E%3C/g%3E%3C/svg%3E");
}
.setings_icon{
  display: block;
  float: left;
  width: 17px;
  height: 17px;
  margin-right:6px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='setings_icon' fill='%23ffffff' x='0px' y='0px' viewBox='0 0 489.8 489.8' style='enable-background:new 0 0 489.8 489.8;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M469.1,182.95h-38.2c-3.1-8.3-6.2-16.6-10.3-23.8l26.9-26.9c8.3-8.2,8.3-20.6,0-28.9l-60-60c-8.2-8.3-20.6-8.3-28.9,0 l-27.9,27.9c-7.2-3.1-15.5-6.2-22.7-9.3v-39.3c0-11.4-9.3-20.7-20.7-20.7h-84.8c-11.4,0-20.7,9.3-20.7,20.7v37.1 c-8.2,3.1-15.5,6.2-22.7,9.3l-27.9-27.9c-8.2-8.3-20.6-8.3-28.9,0l-60,60c-8.3,8.2-8.3,20.6,0,28.9l26.9,26.9 c-4.1,8.3-7.2,15.5-10.3,23.8H20.7c-11.4,0-20.7,9.3-20.7,20.7v84.8c0,11.4,9.3,20.7,20.7,20.7h35.1c3.1,8.3,6.2,16.5,10.3,24.8 l-25.8,25.8c-4.1,4.1-11.6,16.3,0,28.9l60,60c8.2,8.3,20.6,8.3,28.9,0l24.8-24.8c8.2,5.2,16.5,8.3,25.8,11.4v34.1 c0,11.4,9.3,20.7,20.7,20.7h84.8c11.4,0,20.7-9.3,19.7-18.5v-34.1c8.2-3.1,17.5-7.3,25.8-11.4l24.8,24.8c8.2,8.3,20.6,8.3,28.9,0 l60-60c8.3-8.2,8.3-20.6,0-28.9l-25.8-25.8c4.1-8.3,7.2-16.5,10.3-24.8h40.1c11.4,0,20.7-9.3,20.7-20.7v-84.8 C489.8,192.25,480.5,182.95,469.1,182.95z M445.6,266.75h-31c-9.3,0-17.5,6.2-19.6,15.5c-4.2,15.5-9.3,30-17.6,43.4 c-5.2,8.3-3.1,18.6,3.1,24.8l21.7,21.7l-31,31l-20.7-20.7c-6.2-7.2-16.5-8.3-24.8-3.1c-14.5,8.3-29,14.5-44.5,18.6 c-9.3,2-15.5,10.3-15.5,19.6v30h-44.5v-0.1h-1v-30c0-9.3-6.2-17.5-15.5-19.6c-15.6-4.1-31.1-10.3-44.5-18.6 c-8.3-5.2-18.6-3.1-24.8,3.1l-20.7,20.7l-31-31l21.7-21.7c6.2-7.2,8.3-16.5,3.1-24.8c-8.3-13.4-14.5-27.9-17.6-43.4 c-2-9.3-10.3-15.5-19.6-15.5h-31v-44.5h33.1c9.3,0,17.5-6.2,19.6-15.5c3.1-14.5,9.3-28,17.6-41.4c5.2-8.3,3.1-18.6-3.1-24.8 l-23.8-23.8l31-31l23.8,23.8c7.2,6.2,16.5,8.3,24.8,3.1c13.5-7.2,26.9-13.4,41.4-16.5c9.3-2,15.5-10.3,15.5-19.6v-34.1h44.5v35.2 c0,9.3,6.2,17.5,15.5,19.6c14.5,3.1,29,9.3,41.4,16.5c8.3,5.2,18.6,3.1,24.8-3.1l24.8-24.8l31,31l-23.8,23.8 c-7.2,6.2-8.3,16.5-3.1,24.8c7.3,12.5,13.5,26.9,17.6,41.4c2,9.3,10.3,15.5,19.6,15.5h33.1V266.75z'/%3E%3Cpath d='M242.9,132.25c-62,0-112.7,50.7-112.7,112.7s50.7,112.7,112.7,112.7c62.1,0,112.7-50.7,112.7-112.7 S304.9,132.25,242.9,132.25z M242.9,317.35c-39.3,0-72.4-32.1-72.4-72.4c0-39.3,32.1-72.4,72.4-72.4c40.3,0,72.4,32.1,72.4,72.4 C315.3,284.25,282.2,317.35,242.9,317.35z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.calendar_icon {
  display: block;
  float: left;
  width: 17px;
  height: 17px;
  margin-right:6px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='calendar_icon' fill='%23ffffff' x='0px' y='0px' viewBox='0 0 1000 1000' enable-background='new 0 0 1000 1000' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M684.8,378.7h139.1v139.1H684.8V378.7z'/%3E%3Cpath d='M684.8,549.2h139.1v138.9H684.8V549.2z'/%3E%3Cpath d='M786.1,50.7c0-22.3-18.4-40.7-40.7-40.7h-7.3c-22.3,0-40.7,18.4-40.7,40.7v77.2h88.6L786.1,50.7L786.1,50.7z'/%3E%3Cpath d='M515.2,375.1h139.1V514H515.2V375.1z'/%3E%3Cpath d='M309,50.7c0-22.3-18.4-40.7-40.9-40.7h-7c-22.5,0-40.9,18.4-40.9,40.7v77.2H309L309,50.7L309,50.7z'/%3E%3Cpath d='M345.5,376.9h138.8v139.1H345.5V376.9L345.5,376.9z'/%3E%3Cpath d='M172,722.6h138.8v139.1H172V722.6z'/%3E%3Cpath d='M175.6,551h139.1v139.1H175.6V551z'/%3E%3Cpath d='M851.8,127.9h-65.8v85.8c0,22.3-18.4,40.7-40.7,40.7h-7.3c-22.3,0-40.7-18.4-40.7-40.7v-85.8H309v85.8c0,22.3-18.4,40.7-40.9,40.7h-7c-22.5,0-40.9-18.4-40.9-40.7v-85.8h-72c-43.5,0-79,35.5-79,79v704c0,43.5,35.5,79,79,79h526l256.7-260.7V206.9C930.8,163.4,895.4,127.9,851.8,127.9z M892.5,732.9l-155.1-0.5c-43.5-0.3-70.7,28.5-70.4,71.8l0.8,146.9H145.8c-19.7,0-40.4-13-40.4-36.3V288.3l787.1-0.3V732.9z'/%3E%3Cpath d='M345.5,547.2h138.8v139.2H345.5V547.2z'/%3E%3Cpath d='M175.6,380.5h139.1v139.1H175.6V380.5L175.6,380.5z'/%3E%3Cpath d='M515.2,545.3h139.1v139.1H515.2V545.3z'/%3E%3Cpath d='M341.6,719h139.1v139.1H341.6V719z'/%3E%3C/g%3E%3C/svg%3E");
  }
.search_icon{
  display: block;
  float: left;
  width: 17px;
  height: 17px;
  margin-right:6px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' fill='%23ffffff' width='17px' height='17px' viewBox='0 0 485.213 485.213' style='enable-background:new 0 0 485.213 485.213;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M471.882,407.567L360.567,296.243c-16.586,25.795-38.536,47.734-64.331,64.321l111.324,111.324 c17.772,17.768,46.587,17.768,64.321,0C489.654,454.149,489.654,425.334,471.882,407.567z'/%3E%3Cpath d='M363.909,181.955C363.909,81.473,282.44,0,181.956,0C81.474,0,0.001,81.473,0.001,181.955s81.473,181.951,181.955,181.951 C282.44,363.906,363.909,282.437,363.909,181.955z M181.956,318.416c-75.252,0-136.465-61.208-136.465-136.46 c0-75.252,61.213-136.465,136.465-136.465c75.25,0,136.468,61.213,136.468,136.465 C318.424,257.208,257.206,318.416,181.956,318.416z'/%3E%3Cpath d='M75.817,181.955h30.322c0-41.803,34.014-75.814,75.816-75.814V75.816C123.438,75.816,75.817,123.437,75.817,181.955z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width: 681px) {
.logo_icon {
    width: 100px;
    height: 100px;
    fill: #fff;
}
.navbar a {
    padding: 12px;
    text-decoration: none;
    font-size: 14px;
}
.navbar i {
  width: 14px;
  height: 14px;
} 
 table#t01{
    font-size:small;
    background:#888B8B;
    max-width: 100%;
    border-collapse: collapse;
    width:95%;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  } 
   table#t02{
    margin-top:50px;
    width:60%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-left:auto;
    margin-right:auto;
 }
 table#t03{
    margin-top:50px;
    width:95%;
    margin-left:auto;
    margin-right:auto;
 }
    table#t04{
    border-top: 4px solid #888B8B;
    margin-top:10px;
    width:50%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-left:auto;
    margin-right:auto;
 }
    .call_icon{
  width: 20px;
  height: 20px;
    }
    .info_icon {
  width: 20px;
  height: 20px;
    }
  h1{
    font-size: 1.5rem;
  }
  b{
    font-size: 1.2rem;
    color: #ffffff;
  }
  span#sp01{
	  font-size: 24px;
  }
    span#sp02{
	  font-size: 14px;
  }
    .call_info_div{
        margin-bottom: 14px;
    }
input#in01{
  width:70%;
    margin-left:auto;
    margin-right:auto;
}
p.small{
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
   }
}
@media screen and (max-width: 400px) {
.logo_icon {
  width: 80px;
  height: 80px;
  fill: #fff;
}
.navbar a {
    padding: 10px;
    text-decoration: none;
    font-size: 12px;
}
.navbar i {
  width: 12px;
  height: 12px;
} 
span#sp01{
    font-size: 16px;
}
span#sp02{
    font-size: 10px;
}
.call_info_div{
    margin-bottom: 10px;
} 
.call_icon{
    width: 15px;
    height: 15px;
}
.info_icon {
    width: 15px;
    height: 15px;
} 
}
